:root {
    --blue: #051923;
    --light_blue: #0582CA;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--light_blue);
}

.navbar {
    ul {
        list-style-type: none;
        background-color: var(--blue);
        padding: 0px;
        margin-top: 0;
        width: 15%;
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    li {
        color: black;
        padding: 12px 16px;
    }

    a {
        color: black;
        text-decoration: none;
        background-color: var(--light_blue);
        display: flex;
        border-radius: 10px;
        padding: 10px 10px;
        justify-content: center;
        align-items: center;

        &:hover {
            color: var(--blue);
            background-color: #B2CBDE;
        }
    }
}
