:root {
    --blue: #051923;
    --light_blue: #0582CA;
}

* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: var(--light_blue);
}

.navbar{
}

.navbar ul {

    list-style-type: none;
    background-color: var(--blue);
    padding: 0px;
    margin-top: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navbar li {
    color: black;
    padding: 12px 16px;

}

.navbar a {
    color: black;
    text-decoration: none;
    background-color: var(--light_blue);
    display: flex;
    border-radius: 10px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
    color: var(--blue);
    background-color: #B2CBDE;
}

.galleria img{
    display:inline-block;
    vertical-align:middle;
    max-width:80%;
    max-height:80%;
}

.galleria>div{
    width:400px;
    height:400px;
    float:left;
    line-height:100px;
    text-align:center;
}

.galleria{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height:1200px;
    clear:both;
}

h1{
    text-align: center;
    font-size: 50px;
}

.form{
    background-color: #051923;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    border-radius: 7px;
}

.form form{
    margin-top: 50px;
    text-align: center;
}

.form h1{
    font-size: 30px;
    text-align: center;
}

.form input{
    background-color: #0582CA;
    color: black;
    padding: 8px 20px;
    border-width: 0;
}

::placeholder{
    color: black;
}

.form button{
    background-color: #0582CA;
    border-width: 0;
    padding: 10px 20px;
    border-radius: 7px;
}